<!DOCTYPE HTML>
<!--
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Ryan Phillips</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="./css/main.css" />
		
	</head>
		
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<span class="avatar"><img src="img/avatar.jpg" alt="" /></span>
						<h1>Hey! My name is Ryan Phillips, check out some of 
						</br>my favorite photos below. More coming soon!</h1>
						<ul class="icons">
							<!-- <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li> -->
							<li><a href="https://www.facebook.com/ryan.phillips.5815" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://medium.com/@RyanPhillips10" class="icon style2 fa-medium"><span class="label">Instagram</span></a></li>
							<li><a href="https://www.linkedin.com/in/ryan-phillips-9b988070" class="icon style2 fa-linkedin"><span class="label">500px</span></a></li>
							<!-- <li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li> -->
						</ul>
					</header>

				<!-- Main -->
					<section id="main">

						<!-- Thumbnails -->
							<section class="thumbnails">
								<div>
									<a href="img/fulls/01.jpg">
										<img src="img/thumbs/01.jpg" alt="" />
										<!-- <h3>Lorem ipsum dolor sit amet</h3> -->
									</a>
									<a href="img/fulls/04.jpg">
										<img src="img/thumbs/04.jpg" alt="" />
										<!-- <h3>Lorem ipsum dolor sit amet</h3> -->
									</a>
									<a href="img/fulls/08.jpg">
										<img src="img/thumbs/08.jpg" alt="" />
										<!-- <h3>Lorem ipsum dolor sit amet</h3> -->
									</a>
								</div>
								<div>
									<a href="img/fulls/05.jpg">
										<img src="img/thumbs/05.jpg" alt="" />
										<!-- <h3>Lorem ipsum dolor sit amet</h3> -->
									</a>
									<a href="img/fulls/09.jpg">
										<img src="img/thumbs/09.jpg" alt="" />
										<!-- <h3>Lorem ipsum dolor sit amet</h3> -->
									</a>
									<a href="img/fulls/02.jpg">
										<img src="img/thumbs/02.jpg" alt="" />
										<!-- <h3>Lorem ipsum dolor sit amet</h3> -->
									</a>
								</div>
								<div>
									<a href="img/fulls/03.jpg">
										<img src="img/thumbs/03.jpg" alt="" />
										<!-- <h3>Lorem ipsum dolor sit amet</h3> -->
									</a>
									<a href="img/fulls/06.jpg">
										<img src="img/thumbs/06.jpg" alt="" />
										<!-- <h3>Lorem ipsum dolor sit amet</h3> -->
									</a>
									<a href="img/fulls/07.jpg">
										<img src="img/thumbs/07.jpg" alt="" />
										<!-- <h3>Lorem ipsum dolor sit amet</h3> -->
									</a>
									<a href="img/fulls/10.jpg">
										<img src="img/thumbs/10.jpg" alt="" />
										<!-- <h3>Lorem ipsum dolor sit amet</h3> -->
									</a>
									
								</div>
							</section>

					</section>

				<!-- Footer -->
					<footer id="footer">
						
					</footer>

			</div>

		<!-- Scripts -->
			<script src="./js/jquery.min.js"></script>
			<script src="./js/jquery.poptrox.min.js"></script>
			<script src="./js/skel.min.js"></script>
			<script src="./js/main.js"></script>
			<script type="text/javascript">
  var appInsights=window.appInsights||function(config){
    function i(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s="AuthenticatedUserContext",h="start",c="stop",l="Track",a=l+"Event",v=l+"Page",y=u.createElement(o),r,f;y.src=config.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js";u.getElementsByTagName(o)[0].parentNode.appendChild(y);try{t.cookie=u.cookie}catch(p){}for(t.queue=[],t.version="1.0",r=["Event","Exception","Metric","PageView","Trace","Dependency"];r.length;)i("track"+r.pop());return i("set"+s),i("clear"+s),i(h+a),i(c+a),i(h+v),i(c+v),i("flush"),config.disableExceptionTracking||(r="onerror",i("_"+r),f=e[r],e[r]=function(config,i,u,e,o){var s=f&&f(config,i,u,e,o);return s!==!0&&t["_"+r](config,i,u,e,o),s}),t
    }({
        instrumentationKey: APPINSIGHTS_INSTRUMENTATIONKEY
	});
       
    window.appInsights=appInsights;
    appInsights.trackPageView();
</script>

	</body>
</html>