body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body#background {
  background: url('../img/fullBG.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

#white-background {
	background: white;
	width: 330px;
	opacity: .7;
	padding:5px 0 5px 10px;
	border-radius: 15px;
}

